<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD86DXCOZ2KcueSolcRFeZWCKbROLJc0pw</string>
	<key>GCM_SENDER_ID</key>
	<string>789527738796</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.booksApp</string>
	<key>PROJECT_ID</key>
	<string>the-book-list-18073</string>
	<key>STORAGE_BUCKET</key>
	<string>the-book-list-18073.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:789527738796:ios:259678576811b9319fa209</string>
</dict>
</plist>